*{
    box-sizing: border-box; 
}

ul, ol{
    padding: 0; 
}

li{
    list-style-type: none; 
}

a, p, h1, h2, h3, h4{
    text-decoration: none;
    color: white; 
}

body{
    margin: 0; 
    background-color: black;
    font-family: 'Bebas Neue', cursive;
}
.container {
    /* Colocamos este container ya que Fran tiene una pantalla ultra wide y no queremos que el sitio ocupe el 100% de toda la pantalla */
    max-width: 1440px;
    margin: 0 auto;
}

header{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: yellow;
    width: 100%;
    margin-top: 2%;
    margin-bottom: 2%;
}

nav{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

nav ul{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 25%;
    margin-right: 2%;
}

nav li{
    font-size: 175%;
}

nav a{
    color: black;
}

nav img{
    border-radius: 50%;
    width: 8%;
    padding: 0.5%;
}

nav form{
    width: 55%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

footer{
    background-color: yellow;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 2%;
}

.humo{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}

.humo ul{
    width: 65%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 3%;
}

.humo li{
    font-size: 150%;
}

.integrantes{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: black;
}

.integrantes h4{
    width: 100%;
    text-align: center;
    font-size: 200%;
    text-decoration: underline;
}

.integrantes ul{
    width: 65%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 2%;
}

.integrantes li{
    color: white;
    font-size: 150%;
}

input{
    width: 85%;
    background-color: yellow;
    color: black;
    font-size: 100%;
    font-family: 'Bebas Neue', cursive;
    text-align: center;
}

button{
    background-color: black;
    color: yellow;
    font-size: 100%;
    padding: 2%;
    margin-left: 2%;
    font-family: 'Bebas Neue', cursive;
}

.titulos-index{
    background-color: yellow;
    color: black;
    text-align: center;
    margin-top: 25px;
    margin-bottom: 25px;
    padding: 0.5%;
    width: 100%;
}

.cajas-index{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-around; /*Estaba con valor "center" lo pasé a "space-between"*/
}

.cajitas-index{
    background-color: yellow;
    margin: 3%;
    width: 26%; /* Menejamos el tamaño de las cajas dentro del contenedor*/
}
.cajitas-index img{
    width: 100%; /* Para que las imágenes respeten el ancho de su contenedor y no se extiendan más de la cuenta*/
}

section article ul li p, section article ul li a{
    color: black;
    font-size: 125%;
    padding: 0.5%;
    text-align: center;
}

.titulo-resultados{
    margin-left: 2%;
}

.titulo-detalle-genero, .titulo-detalle-genero a{
    text-align: center;
    font-size: 200%;
    color: white;
}

.datos-canciones{
    width: 25%;
    margin: 5%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.datitos-canciones{
    width: 100%;
}

iframe{
    width: 45%;
    margin: 5%;
}

.agregar-cancion{
    width: 100%;
    text-align: center;
}

.container-cancion{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.datitos-canciones h2, .datitos-canciones a h3{
    color: yellow;
    text-align: center;
}

.container-album{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
}

.datos-album{
    width: 25%;
    margin: 2%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-size: 150%;
    text-align: center;
}

.datitos-album{
    width: 100%;
}

.container-album .cajitas-index{
    width: 50%;
}

.lista-cancion-album{
    width: 25%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    font-size: 130%;
    text-align: center;
}

.lista-cancion-album h4, .lista-cancion-album li a{
    width: 100%;
    color: yellow;
}

.datitos-album p a, .datitos-album p{
    color: yellow;
}

.cajitas-index p, a{
    color: black;
    font-size: 120%;
    text-align: center;
}

@media (max-width: 420px) {
    .cajitas-index {
        width: 42%;
    }
    
    nav img{
        width: 30%;
    }

    nav form{
        width: 85%;
        margin-top: 25px;
    }

    nav  ul{
        width: 85%;
        justify-content: space-around;
    }

    nav{
        justify-content: center;
    }

    nav form input{
        width: 75%;
    }

    .humo ul li{
        width: 100%;
        text-align: center;
        border-bottom: solid 1px black;
    }

    .integrantes ul li{
        width: 30%;
        text-align: center;
        justify-content: space-around;
    }
}